DIRECTUS_ADMIN_TOKEN=your_directus_admin_token
NEXT_PUBLIC_DIRECTUS_URL=https://your_directus_url
NEXT_PUBLIC_ASSETS_URL=https://your_assets_url
DIRECTUS_PUBLIC_TOKEN=your_directus_public_token
DIRECTUS_FORM_TOKEN=your_directus_form_token
NEXT_PUBLIC_SITE_URL=https://your_site_url
DRAFT_MODE_SECRET=your_draft_mode_secret
PUBLIC_ENABLE_VISUAL_EDITING=true

# WordPress Blog Configuration
WORDPRESS_BLOG_URL=https://your_wordpress_blog_url
WORDPRESS_APP_USERNAME=your_wordpress_username
WORDPRESS_APP_PASSWORD=your_wordpress_app_password

# Google Analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=your_google_analytics_id
